/*----------Color Palette: (from Google Material Design)
	Primary - Light Blue 500: 			Secondary - Blue Grey 600: 
	P        : #03a9f4					S        : #546e7a
	P — Light: #67daff					S — Light: #819ca9
	P — Dark : #007ac1					S — Dark : #29434e
/*-------Flex Box Setup ------------------------------*/
body {
	display         : flex;
	flex-direction  : column;
	min-height      : 100vh;
	justify-content : space-between;
}
.contentFlexColumn {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
/*-------========Reset====------*/
* {
	margin : 0;
	padding: 0;
}
/*-------======= LINKS ========---------*/
body {
	background-color: #007ac1;
	font-family     : 'Helvetica', serif;
	font-weight     : 300;
	font-size       : 1.1em;
}
a:active, a:hover, a:link, a:visited {
	text-decoration: none;
	font-weight: 500;
	font-size: 1em;
}
a:link, a:visited {
	color: #007ac1;
}
a:hover {
	color: #03a9f4;
}
a:active {
	color: #29434e;
}
header a:link,
header a:visited {
	color: #fff;
}
header a:hover {
	color: #03a9f4;
}
header a:active {
	color: #67daff;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Playfair Display SC', serif;
}
h1 {
	font-size: 2.5em;
	padding  : .1em
}
h2 {
	background-color: #007ac1;
	text-align      : center;
	width           : 100%;
	color           : #fff;
	border-top      : 3px solid #03a9f4;
	border-bottom   : 4px solid #03a9f4;
	padding-bottom: .1em;
	font-size: 2em;
}
h3 {
	margin-bottom: .3em;
	padding: 0 .4em;
	font-size: 1.1em;
}
article {
	padding:.2em;
}
p {
	font-size: .85em;
	margin-bottom: .35em;
	text-indent: 1em;
	line-height: 1.25em;
}
span {
	padding: .2em;
}
.primaryContent article span {
	font-size: .6em;
	padding: 0 .7em;
}
ul {
	padding: .1em 0;
	list-style-type: none;
	font-size: 1em;
}
ul li ul li {
	font-size: .8em;
	margin: .1em .3em;
	padding: .1em .3em;
}
/*------- HEADER ------------------------------*/
header {
	width           : 100%;
	background-color: #29434e;
	color           : white;
	font-family     : 'Playfair Display SC', serif;
	font-weight     : 700;
	text-align: center;
}
header img {
	display: none;
	width: 75%;
	max-width: 380px;
	margin    : 0 0 0 0;
	padding-top   : .8em;
}
/*------- NAVIGATION ------------------------------*/
nav ul {
	display        : inline-flex;
	flex-wrap      : wrap-reverse;
	justify-content: space-around;
	align-content  : flex-end;
}
nav ul li {
	display        : inline;
	margin         : 0;
	padding        : .2em 0;
	list-style-type: none;
}
nav a {
	margin         : 0 .5em;
}
/*------- FOOTER ------------------------------*/
footer {
	width           : 100%;
	display         : inline-flex;
	flex-wrap       : nowrap;
	justify-content : space-between;
	background-color: #29434e;
	border-top      : 3px solid #03a9f4;
	color           : white;
	font-family     : 'Playfair Display SC', serif;
}
footer span {
	margin   : 0;
	padding  : .2em;
	min-width: 20%;
}
footer a {
	text-decoration: none;
	color          : #fff;
}
/*Social Media Icons*/
footer span img {
	max-width: 25px;
	margin   : 0 .8em;
}
/*Right align last footer span text*/
footer span:last-of-type {
	text-align: right;
}
/*----==== Content Area ====-----------------------------*/
.sectionFlexBox {
	width           : 100%;
	min-height      : 100%;
	background-color: #007ac1;
	color           : white;
	font-size       : 1.2em;
}
/*------- Primary Content ------------------------------*/
.contentFlexColumn {
	background-color: #546e7a;
}
.primaryContent {
	padding: .3em;
	background-color: #fff;
	color: #29434e;
}
.primaryContent h3,
.primaryContent h4 {
	color           : #29434e;
	background-color: #819ca9;
	border-radius   : 8px;
	box-shadow      : 0 .3em .3em -.2em #29434e;
}
/*------- Sidebar/other content ------------------------------*/
.secondaryContent,
.tertiaryContent {
	background-color: #546e7a;
	font-size       : .75em;
  	flex: 0 0 10em;
	padding         : .3em .4em;
}
.tertiaryContent {
	border-top: 2px solid #29434e;
}
/*------- Images ------------------------------*/
.tertiaryContent img {
	float:left;
	max-width    : 20%;
	border: 1.5px solid #67daff;
	border-radius: 50%;
	margin       : 0 .5em 0 0;
	display: block;
}
.tertiaryContent article {
	overflow: auto;
}

/*-------------MEDIA QUERIES--------------------*/
@media (min-width: 768px) {
  	.contentFlexColumn {
		align-items: stretch;
	}
    .sectionFlexBox {
	  	display: inline-flex;
	    flex-direction: row;
	    flex: 1;
	    align-items: stretch;
		flex-grow: 4;
	}
	.secondaryContent {
	box-shadow: inset .1em .1em .4em .1em #29434e;
	}
	.tertiaryContent {
		order: -1;
		box-shadow: inset -.1em .1em .4em .1em #29434e;
	}
	.primaryContent {
		flex: 1;
	}
	.tertiaryContent img {
		float: none;
		max-width: 80%;
		margin: 0 auto;
	}
	header {
		display: inline-flex;
		justify-content: space-between;
	}
	nav {
	display    : flex;
	flex-direction: column;
	/*align-items: flex-end*/;
	justify-content: space-between;
	align-content: center;
	}
	nav img {
	display: block;
	margin: 0 auto;
	}
}



