/*Color Palette: (from Google Material Design)
	Primary - Light Blue 500: 
	P        : #03a9f4
	P — Light: #67daff
	P — Dark : #007ac1
	Secondary - Blue Grey 600: 
	S        : #546e7a
	S — Light: #819ca9
	S — Dark : #29434e
	Text on P:
	White    : #000000
	Text on S
	Black    : #ffffff*/

/*-------Flex Box Setup ------------------------------*/
body {
	display         : flex;
	flex-direction  : column;
	min-height      : 100vh;
	justify-content : space-between;
}
.contentFlexColumn {
	flex-grow: 1;
}
.sectionFlexBox {
	flex-grow: 1;
}
/*.tertiaryContent {
/*	order: -1;
}*/
/*-------========Reset====------*/
* {
	margin : 0;
	padding: 0;
}
/*-------======= LINKS ========---------*/
body {
	background-color: #007ac1;
	font-family     : 'Helvetica', serif;
	font-weight     : 300;
	font-size       : 1.1em;
}
a:active, a:hover, a:link, a:visited {
	text-decoration: none;
	font-weight: 500;
	font-size: 1em;
}
a:link, a:visited {
	color: #007ac1;
}
a:hover {
	color: #03a9f4;
}
a:active {
	color: #29434e;
}
header a:link,
header a:visited {
	color: #fff;
}
header a:hover {
	color: #03a9f4;
}
header a:active {
	color: #67daff;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Playfair Display SC', serif;
}
h1 {
	font-size: 2.5em;
	padding  : .1em
}
h2 {
	background-color: #007ac1;
	text-align      : center;
	width           : 100%;
	color           : #fff;
	border-top      : 3px solid #03a9f4;
	border-bottom   : 4px solid #03a9f4;
	padding-bottom: .1em;
	font-size: 2em;
}
h3 {
	margin-bottom: .3em;
	padding: 0 .4em;
	font-size: 1.1em;
}
article {
	padding:.2em;
}
p {
	font-size: .85em;
	margin-bottom: .35em;
	text-indent: 1em;
	line-height: 1.25em;
}
span {
	padding: .2em;
}
.primaryContent article span {
	font-size: .6em;
	padding: 0 .7em;
}

ul {
/*	margin: .1em .3em;*/
	padding: .1em 0;
	list-style-type: none;
	font-size: 1em;
}

ul li ul li {
	font-size: .8em;
	margin: .1em .3em;
	padding: .1em .3em;
}

/*------- HEADER ------------------------------*/
header {
	width           : 100%;
/*	display         : inline-flex;
	flex-wrap       : wrap;
	justify-content : space-between;*/
	background-color: #29434e;
/*	padding         : .5em 0em .1em;
*/	color           : white;
	font-family     : 'Playfair Display SC', serif;
	font-weight     : 700;
	text-align: center;
}

/*header div {
	flex-grow: 1;
	padding: .3em .3em 0 1em;
}*/


header img {
	display: none;
/*	max-height: 4.8em;*/
	width: 50%;
	max-width: 380px;
/*	float     : left;*/
	margin    : 0 0 0 0;
	padding   : 0 5em .3em .3em;
/*	align-self: center;
*/}

/*header h3 {
	padding: 0 0 .25em;
}*/
/*------- NAVIGATION ------------------------------*/
/*nav {
	display    : flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	justify-content: space-between;
	align-content: center;
	flex-grow: 1;
}*/
nav ul {
	display        : inline-flex;
	flex-wrap      : wrap-reverse;
	justify-content: space-around;
	align-content  : flex-end;
}
nav ul li {
	display        : inline;
	margin         : 0;
	padding        : .2em 0;
	list-style-type: none;
}

nav a {
	margin         : 0 .5em;
/*	padding        : 1em .2em;*/
}
/*------- FOOTER ------------------------------*/
footer {
	width           : 100%;
	display         : inline-flex;
	flex-wrap       : nowrap;
	justify-content : space-between;
	background-color: #29434e;
	border-top      : 3px solid #03a9f4;
	color           : white;
	font-family     : 'Playfair Display SC', serif;
}

footer span {
	margin   : 0;
	padding  : .2em;
	min-width: 20%;
}

footer a {
	text-decoration: none;
	color          : #fff;
}

/*Social Media Icons*/
footer span img {
	max-width: 25px;
	margin   : 0 .8em;
}
/*Right align last footer span text*/
footer span:last-of-type {
	text-align: right;
}

/*------- Primary Content ------------------------------*/
.contentFlexColumn {
	background-color: #546e7a;
}
.primaryContent {
	padding: .3em;
	background-color: #fff;
	color: #29434e;
}

.primaryContent h3,
.primaryContent h4 {
	color           : #29434e;
	background-color: #819ca9;
	border-radius   : 8px;
/*	padding         :.3em;
	margin          : .2em;*/
	box-shadow      : 0 .3em .3em -.2em #29434e;
}
/*------- Sidebar/other content ------------------------------*/
.secondaryContent,
.tertiaryContent {
	background-color: #546e7a;
	font-size       : .75em;
  	flex: 0 0 12em;
	padding         : .3em .4em;
}
.tertiaryContent {
	border-top: 2px solid #29434e;
}
/*------- Images ------------------------------*/
.tertiaryContent img {
	float:left;
	max-width    : 20%;
	border: 1.5px solid #67daff;
	border-radius: 50%;
	margin       : 0 .5em 0 0;
	display: block;
}

.tertiaryContent article {
	overflow: auto;
}

.sectionFlexBox {
	width           : 100%;
	min-height      : 100%;
	background-color: #007ac1;
	color           : white;
	font-size       : 1.2em;

}



