/*Color Palette: (from Google Material Design)
	Primary - Light Blue 500: 
	P        : #03a9f4
	P — Light: #67daff
	P — Dark : #007ac1
	Secondary - Blue Grey 600: 
	S        : #546e7a
	S — Light: #819ca9
	S — Dark : #29434e
	Text on P:
	White    : #000000
	Text on S
	Black    : #ffffff*/

* {
	margin : 0;
	padding: 0;
}
/*-------======= LINKS ========---------*/
a:active, 
a:hover, 
a:link, 
a:visited {
	text-decoration: none;
	font-weight: 500;
	font-size: 1em;
}

a:link,
a:visited {
	color: #007ac1;
}

a:hover {
	color: #03a9f4;
}

a:active {
	color: #29434e;
}

header a:link,
header a:visited {
	color: #fff;
}

header a:hover {
	color: #03a9f4;
}

header a:active {
	color: #67daff;
}
/*a:active, a:hover, a:link a:visited
/*------- HEADER ------------------------------*/
header {
	width           : 100%;
	display         : inline-flex;
	flex-wrap       : wrap;
	justify-content : space-between;
	background-color: #29434e;
/*	padding         : .5em 0em .1em;
*/	color           : white;
	font-family     : 'Playfair Display SC', serif;
	font-weight     : 700;
}

header div {
	flex-grow: 1;
/*	padding: .3em .3em 0 1em;
*/}


header img {
/*	max-height: 4.8em;*/
	width: 50%;
	max-width: 380px;
/*	float     : left;*/
	margin    : 0 0 0 0;
	padding   : 0 5em .3em .3em;
/*	align-self: center;
*/}

header h3 {
/*	padding: 0 0 .25em;
*/}
/*------- NAVIGATION ------------------------------*/
nav {
	display    : flex;
	flex-direction: column;
	align-items: flex-end;
/*	text-align: right;*/
	justify-content: space-between;
	align-content: center;
	flex-grow: 1;
}
nav ul {
	display        : inline-flex;
	flex-wrap      : wrap-reverse;
	justify-content: space-around;
	align-content  : flex-end;
}
nav ul li {
	display        : inline;
	margin         : 0;
	padding        : 0;
	list-style-type: none;
}

nav a {
	margin         : 0 .5em;
	padding        : .5em .5em .1em;
}
/*------- FOOTER ------------------------------*/
footer {
	width           : 100%;
	display         : inline-flex;
	flex-wrap       : nowrap;
	justify-content : space-between;
	background-color: #29434e;
	border-top      : 3px solid #03a9f4;
	color           : white;
	font-family     : 'Playfair Display SC', serif;
	padding         : .2em;
}

footer span {
	margin   : 0;
	padding  : .2em .8em .2em;
	min-width: 200px;
}

footer a {
	text-decoration: none;
	color          : #fff;
}

/*Social Media Icons*/
footer span img {
	max-width: 25px;
	margin   : 0 .8em;
}
/*Right align last footer span text*/
footer span:last-of-type {
	text-align: right;
}
/*------- BODY ------------------------------*/

body {
	min-height      : 100vh;
	display         : flex;
	flex-direction  : column;
	justify-content : space-between;
	background-color: #007ac1;
	font-family     : 'Helvetica', serif;
	font-weight     : 300;
	font-size       : 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding    : .2em .2em 0 .2em;
	font-weight: 700;
	font-family: 'Playfair Display SC', serif;
}

h1 {
	font-size: 2.5em;
	padding  : .05em
}

h2 {
	background-color: #007ac1;
	text-align      : center;
	width           : 100%;
	color           : #fff;
	border-top      : 3px solid #03a9f4;
	border-bottom   : 4px solid #03a9f4;
	padding         : 0 .3em .05em;

	font-size: 2em;
}

h3 {
	font-size: 1.1em;
}
p {
	padding  : .4em;
	font-size: .85em;
}

span {
	padding: .2em;
}

#blog article span {
	font-size: .6em;
	padding: 0 .7em;
}

ul {
	margin: .1em .3em;
	padding: .1em .3em;
	list-style-type: none;
	font-size: 1em;
}

ul li ul li {
	font-size: .8em;
	margin: .1em .3em;
	padding: .1em .3em;
}
/*------- FLEX BOXES ------------------------------*/
/*Section*/
section {
	flex-grow     : 1;
	display       : flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}

.sectionFlexContainer {
	width           : 100%;
	min-height      : 100%;
	display         : inline-flex;
	justify-content : space-around;
	align-items     : stretch;
	background-color: #007ac1;
	color           : white;
	font-size       : 1.2em;
	flex-grow       : 4;
}
/*------- Primary Content ------------------------------*/
#contentWrapper {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.primaryContent {
	flex   : 8;
	order  : 2;
	padding: 0 .3em .3em;
	background-color: #fff;
	color: #29434e;
}

.primaryContent h3,
.primaryContent h4 {
	color           : #29434e;
	background-color: #819ca9;
	border-radius   : 8px;
	padding         :.3em;
	margin          : .2em;
	box-shadow      : 0 .3em .3em -.2em #29434e;
}
/*------- Sidebar/other content ------------------------------*/
.secondaryContent,
.tertiaryContent {
	background-color: #546e7a;
	font-size       : .75em;
	flex            : 2;
	padding         : .3em .4em;
}
/*------- Secondary Sidebar ------------------------------*/
.secondaryContent {
	order     : 3;
	box-shadow: inset .1em .1em .4em .1em #29434e;
}
/*------- Tertiary Sidebar ------------------------------*/
.tertiaryContent {
	flex      : 2;
	order     : 1;
	box-shadow: inset -.1em .1em .4em .1em #29434e;
}
/*------- Images ------------------------------*/
.tertiaryContent img {
	max-width    : 80%;
	border: 1.5px solid #67daff;
	border-radius: 50%;
	margin       : 1em auto 1em;
	display: block;
}