/*Color Palette: (from Google Material Design)
	Primary - Light Blue 500: 
	P        : #03a9f4
	P — Light: #67daff
	P — Dark : #007ac1
	Secondary - Blue Grey 600: 
	S        : #546e7a
	S — Light: #819ca9
	S — Dark : #29434e
	Text on P:
	White    : #000000
	Text on S
	Black    : #ffffff*/

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: #007ac1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #29434e;
	color: white;
}

nav {
	display: inline-flex;
	align-items: flex-end;
}
nav ul {
	display: inline-flex;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	align-content: flex-end;
}
nav ul li {
	display: inline;
	margin: 0 .5em;
}

nav a {
	text-decoration: none;
	color: white;
}

footer {
	width: 100%;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: #29434e;
	color: white;
}

article {
	flex-grow: 1;
}

h2 {
	background-color: #67daff;
	text-align: center;
	width: 100%;
	color: #000000;
}

.articleFlexContainer {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #007ac1;
	color: white;
	font-size: 1.2em;
}

.primaryContent {
	flex: 8;
	order: 2;
	/*background-color: #819ca9;*/
}

/*.primaryContent h1,*/
/*.primaryContent h2,*/
.primaryContent h3,
.primaryContent h4 {
	color: #29434e;
	background-color: #819ca9;
	border-radius: 8px;

}

.secondaryContent {
	flex: 2;
	order: 3;
}

.tertiaryContent {
	flex: 2;
	order: 1;
}



