/*Color Palette: (from Google Material Design)
	Primary - Light Blue 500: 
	P        : #03a9f4
	P — Light: #67daff
	P — Dark : #007ac1
	Secondary - Blue Grey 600: 
	S        : #546e7a
	S — Light: #819ca9
	S — Dark : #29434e
	Text on P:
	White    : #000000
	Text on S
	Black    : #ffffff*/

* {
	margin: 0;
	padding: 0;
	background-color:  #67daff;
	color: #000000;
	border: .5px solid #546e7a;
}

nav ul li {
	display: inline;
}

.flexContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

header.flexContainer {
	display: inline-flex;
	flex-wrap: wrap;
}

nav {
	width: 100%;
	display: inline-flex;
	align-items: flex-end;
}
nav ul {
	display: inline-flex;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	align-content: flex-end;
}

.pageContent {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-start;
}

.primaryContent {
	flex: 8;
	order: 2;
}

.secondaryContent {
	flex: 2;
	order: 3;
}

.tertiaryContent {
	flex: 1;
	order: 1;
}



